{% extends 'master.html' %}

{% block title %}
    New movie
{% endblock %}

{% block content %}

    <form method="post" action="{% url 'movieapp:newreview' id%}">
        {% csrf_token %}
        <div class="form-row">
            <div class="col">
                <label for="{{ form.summary.id_for_label }}">{{ form.summary.label_tag }}</label>
                <input type="text" class="form-control" id="{{ form.summary.id_for_label }}" name="{{ form.summary.name }}">
                {% if form.summary.errors %}
                    <div class="alert alert-danger">
                        <ul style="text-align: left">
                            {% for error in form.summary.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="col-mid-2">
                <label for="{{ form.rating.id_for_label }}">{{ form.rating.label_tag }}</label>
                <input type="text" class="form-control" id="{{ form.rating.id_for_label }}" name="{{ form.rating.name }}">
                {% if form.rating.errors %}
                    <div class="alert alert-danger">
                        <ul style="text-align: left">
                            {% for error in form.rating.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group">
            <label for="{{ form.body.id_for_label }}">{{ form.body.label_tag }}</label>
            <textarea class="form-control" id="{{ form.body.id_for_label }}" name="{{ form.body.name }}" rows="5"></textarea>
            {% if form.body.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.body.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <input type="submit" class="btn btn-primary btn-lg" value="Add"/>
    </form>

{% endblock %}